In [1]:
import pandas as pd
import igraph as ig

In [38]:
df = pd.read_parquet('/media/david/KINGSTON/kilombo_configs/raw_data/degrees_N_35_ar_18.5_ir_3.5_loops_800.parquet')

In [39]:
df.head(35)

    degrees
0         5
1         2
2         2
3         2
4         4
5         3
6         3
7         0
8         1
9         1
10        2
11        1
12        2
13        3
14        2
15        1
16        4
17        3
18        3
19        1
20        0
21        4
22        2
23        3
24        1
25        2
26        0
27        3
28        4
29        1
30        2
31        3
32        5
33        2
34        0

In [37]:
min(df['degrees'])

0

In [40]:
df = pd.read_parquet('/media/david/KINGSTON/kilombo_configs/contacts/' + 
                     '/PRW_nBots_35_ar_18.5_speed_9_speedVar_2_001_loops_800_ir_7.0_contacts_cicleINT.parquet')

In [41]:
df = df.query('cicleID == 6')

In [42]:
df = df.drop('cicleID', axis=1)

In [48]:
def getConfigDegrees(dfconfig, N, firstID):
    """
    input:
        - dfconfigs: df with columns 'contacts0' and 'contacts1'. IDs of the network vertices, 0...N-1 or 1...N
        - N: number of vertices expected in the network
        - firstID: lowermost ID, (0 or 1, kilombo or quenched in my workflow)
    output:
        - arrays with the node ID (numeric) and degree (ordered)
        on return nodes are numbered as entered in first ID
    """
    g = ig.Graph.DataFrame(dfconfig, directed=False)
    nodes = [v['name'] for v in g.vs()]
    degrees = []
    for id in range(firstID,N+firstID):
        if id in nodes:
            degrees.append(g.degree(nodes.index(id)))
        else:
            degrees.append(0)
    nodes = [id for id in range(firstID,N+firstID)]
    return nodes, degrees

In [49]:
_, degrees = getConfigDegrees(df, 35, 0)

In [51]:
df = pd.read_parquet('/media/david/KINGSTON/quenched_configs/35_bots/raw_data/degrees_N_35_ar_20.0_er_1.5_ir_7.0_nopush.parquet')

In [52]:
df.head(35)

    degrees
0         2
1         3
2         3
3         4
4         3
5         3
6         5
7         1
8         1
9         5
10        2
11        4
12        3
13        4
14        4
15        2
16        5
17        3
18        2
19        4
20        3
21        1
22        3
23        4
24        4
25        3
26        2
27        2
28        5
29        4
30        3
31        2
32        4
33        5
34        2